<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="lr">
                <div class="photo">
                    <img src="/static/img/me.jpg" class="rounded" alt="нету" width="300" height="400">
                </div>
                <div class="info">
                    <h1 class="name">Крылов Николай</h1>
                    <h2 class="city">г. Сочи, Краснодарский край</h2>
                    <h3 class="exp">2 года в программировании.</h3>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="hobbies">
                <h4 class="ab_hob">Увлекаюсь программированием, планирую связать с этим свою дальнейшую профессию. Успел написать небольшой сайт для размещения и скачивания игр вместе с моим другом. Я был в большом восторге от написания сайтов, поэтому решил поступить на этот курс, чтобы получить еще больше знаний, а самое главное практических навыков в бэкенде.</h4>
            </div>
        </div>
    </div>
</body>
</html>